@import './variables.scss';

body {
  background-color: $clr-background;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $ff-regular;
  font-size: $fs-regular-100;
  font-weight: $fw-regular;
  color: $clr-100;
}

.section-container {
  padding: 1.5rem;
}

.section-title {
  font-size: $fs-subheader-100;
  color: $clr-100;
  font-weight: $fw-bold;
  margin-bottom: 1.125rem;
  letter-spacing: -0.22px;
  line-height: 1.17;
}

@media (min-width: 700px) {
  .section-container {
    padding: 2.5rem;
  }  
}
