
/* COLORS */
$clr-background: hsl(204, 43%, 93%);
$clr-accent: hsl(71, 73%, 54%);
$clr-primary: hsl(179, 62%, 43%);

$clr-100: hsl(0, 0%, 100%);
$clr-200: hsl(218, 22%, 67%);



/* TYPE */
$ff-regular: 'Karla', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-header-100: 1.25rem; // 20
$fs-header-200: 1.5rem; // 24

$fs-subheader-100: 1.125rem; // 18

$fs-regular-100: 0.875rem; // 14
$fs-regular-200: 1rem; // 16

$fs-accent-100: 0.938rem; // 15
$fs-accent-200: 1rem; // 16
$fs-accent-300: 2rem; // 32
